/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', cursive;
}

.defaultPageCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    height: 100vh;
    background-color: black;
}

.noAccount {
    display: flex;
    flex-direction: row;
    color: white;

}

.noAccount button {
    background-color: transparent;
    color: #94b0a3;
    margin-left: 10px;
    font-size: 1.2rem;
    word-spacing: -2px;
}

.noAccount button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sign-in-container {
   margin-bottom: 30px;
}

.appName {
    margin-bottom: 50px;
    font-family: 'Arizonia', cursive;
    text-align: center;
    color: #53b889;
}

.inputCont {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: space-between;
}

.inputCont p {
    margin-bottom: 5px;
    color: #313b36;
}

.inputCont input {
    width: 40vw;
    /* margin-left: 10px; */
    padding: 10px;
    border-radius: 5px;
}

.loginButton {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.loginButton button {
    background-color: #313b36;
    padding: 15px 20px;
    color: aliceblue;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: capitalize;
}

.loginButton button:hover {
    cursor: pointer;
    font-size: 1.1rem;
}